<!-- <div id="card" class="card">
    <div class="content">
      <span>Hola</span>
      
      <span>By Lautaro Avila </span> 
      <span>Full Stack Developer</span>
      <a href="https://ar.linkedin.com/in/lautaro-avila-31307b19a">Linkedin</a>
      
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> -->

  <div id="card" class="card">
    <div class="content">
      <h1>By: Lautaro Avila</h1>
      <ul>
        <h2>Habilidades</h2>
        <li>· Angular JS</li>
        <li>· Spring Boot</li>
        <li>· Intellij Idea</li>
        <li>· Node JS</li>
        <br>
        <h2>Lenguajes</h2>
        <li>· CSS</li>
        <li>· HTML5</li>
        <li>· Java</li>
        <li>· Javascript</li>
        <li>· Typescript</li>
        <h1></h1>

        <!-- Agrega más elementos según sea necesario -->
      </ul>
      <div class="footer">
        <button (click)="openLinkedin()">Linkedin</button>&nbsp;&nbsp;&nbsp;
        <button (click)="contact()">Contact</button>
         
      </div>
    </div>
    
  </div>
  
  