<div class="card flex justify-content-center">
  <div class="button" (click)="fileInput.click()">
    <span class="button__text">Archivos</span>
    <span class="button__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
        <line y2="19" y1="5" x2="12" x1="12"></line>
        <line y2="12" y1="12" x2="19" x1="5"></line>
      </svg>
    </span>
  </div>
  <input type="file" #fileInput multiple style="display:none" (change)="onFileSelected($event)">
  <br><br>
  <div *ngIf="selectedFiles.length > 0">
    <div *ngFor="let file of selectedFiles; let i = index">
      <p-divider></p-divider>
      <div>
        {{ file.name }}
        <button (click)="removeFile(i)" class="myButton"><span class="text">Borrar</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
    <button (click)="clearFiles()">Limpiar archivos</button>
  </div>
  <hr>
  <div class="py-3"><font color="#blue">El tope de archivos es de 10 MB en total</font></div>
</div>
