<br><br><br>
<!-- CONTENEDOR DE LA PANTALLA COMPLETA  -->
<div class="container">

    <!-- CARD DE DATOS RECLAMANTE  -->


    <!-- <button class="miniButton"></button> -->
    <form [formGroup]="formularioReclamo" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
        <div class="custom-card">
            <p-divider></p-divider>
            <h1 class="myHeader">
                <FONT size="6">Datos Reclamante</FONT>
            </h1>
            <p-divider></p-divider>
            <br><br>
            <div class="group">
                <span class="highlight"></span>
                <input formControlName="nombre" id="nombre" required="" type="text" class="input">
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su Nombre &nbsp;/s
                </label>
            </div>
            <br>
            <br>
            <div class="group">
                <input formControlName="apellido" id="apellido" required="" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su Apellido
                </label>
            </div>
            <br>
            <br>
            <div class="group">
                <input formControlName="dni" id="dni" required="" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su DNI
                </label>
            </div>
            <br>
            <br>
            <div class="checkbox-container">
                <span>
                    <FONT color="#42752a">De NO actuar en nombre propio marque aquí: &nbsp;</FONT>
                </span>
                <div class="checkbox-wrapper-31">
                    <input #checkboxInput type="checkbox" (change)="togglecheckNombrePropioInput()">

                    <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                    </svg>
                </div>
            </div>
            <br>

            <div class="group" *ngIf="isChecked3">
                <input formControlName="nombreRepresentante" id="nombreRepresentante" required="" type="text"
                    class="input" [disabled]="!formularioReclamo.get('nombreRepresentante')?.value">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Ingrese Nombre del Representante</label>
            </div><br>
            <div class="group" *ngIf="isChecked3">
                <input formControlName="apellidoRepresentante" id="apellidoRepresentante" required="" type="text"
                    class="input" [disabled]="!formularioReclamo.get('apellidoRepresentante')?.value">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Ingrese Apellido del Representante</label>
            </div><br>
            <div class="group" *ngIf="isChecked3">
                <input formControlName="dniRepresentante" id="dniRepresentante" required="" type="text" class="input"
                    [disabled]="!formularioReclamo.get('dniRepresentante')?.value">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Ingrese DNI del Representante</label>
            </div><br>


            <br>
        </div>


        <div class="w-full md:w-2">
            <p-divider layout="vertical" styleClass="hidden md:flex"><b>
                    <FONT size="7" color="#6cbe45">↓</FONT>
                </b></p-divider>
        </div>



        <div class="custom-card">
            <p-divider></p-divider>
            <h1 class="myHeader">
                <FONT size="6">Datos Suministro</FONT>
            </h1>
            <p-divider></p-divider>
            <br><br>

            <div class="group">
                <input formControlName="direccion" id="direccion" required="" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su Dirección
                </label>
            </div>
            <br>
            <br>
            <p class="customP">
                <FONT color="red">(*)</FONT>&nbsp;Seleccione una Localidad:
            </p>
            <select class="custom-select" aria-label="Default select example" formControlName="localidad"
                (change)="updatePostalCode($event)">

                <option selected style="color: #507224;">Seleccione una localidad</option>
                <option *ngFor="let localidad of localidades" [value]="localidad.localidad">{{ localidad.localidad
                    }}</option>
            </select>
            <br><br>
            <div class="group">
                <p class="customP">Código Postal:</p>
                <input formControlName="codigoPostal" id="codigoPostal" required type="text" class="input" readonly>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <br><br>
            <span>
                <FONT color="red">(*) Debe rellenar alguno de estos 2 campos de abajo</FONT>&nbsp;
            </span>
            <br>
            <br>
            <div class="group">
                <input formControlName="nis" id="nis" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nº de NIS (usuarios EdERSA)</label>
            </div>
            <br><br>
            <div class="group">
                <input formControlName="numeroDeCliente" id="numeroDeCliente" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nº Cuenta: &nbsp; (CEB / CEARC)</label>
            </div><br><br>
        </div>

        <div class="w-full md:w-2">
            <p-divider layout="vertical" styleClass="hidden md:flex"><b>
                    <FONT size="7" color="#6cbe45">↓</FONT>
                </b></p-divider>
        </div>



        <div class="custom-card">
            <p-divider></p-divider>
            <h1 class="myHeader">
                <FONT size="6">Información de Contacto</FONT>
            </h1>
            <p-divider></p-divider>
            <br><br>
            <FONT color="red">(*)&nbsp;&nbsp;</FONT>
            <br>
            <div class="checkbox-container">

                <span>

                    <FONT color="#42752a">Coincide con la Dirección de Suministro: &nbsp;</FONT>
                </span>
                <div class="checkbox-wrapper-31">
                    <input #checkboxInput type="checkbox" (change)="onCheckboxChange($event)">

                    <svg viewBox="0 0 35.6 35.6">
                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                    </svg>
                </div>
            </div>
            <br><br>
            <div class="group">

                <input formControlName="direccionAlternativa" id="direccionAlternativa" required="" type="text"
                    class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)&nbsp;&nbsp;
                    </FONT>Ingrese su Dirección
                </label>
            </div>
            <br><br>
            <div class="group">
                <input formControlName="localidadAlternativa" id="localidadAlternativa" required="" type="text"
                    class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)&nbsp;&nbsp;
                    </FONT>Localidad:
                </label>
            </div>
            <br><br>
            <div class="group">
                <input formControlName="codigoPostalAlternativo" id="codigoPostalAlternativo" required="" type="text"
                    class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)&nbsp;&nbsp;
                    </FONT>Código Postal:
                </label>
            </div>
            <br><br>
            <div class="group">
                <input formControlName="telefono" id="telefono" required="" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su Teléfono:
                </label>
            </div>

            <br><br>
            <p-divider></p-divider>
            <div class="group">
                <input formControlName="email" id="email" required="" type="text" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>
                    <FONT color="red">(*)</FONT>&nbsp;Ingrese su correo Electrónico:
                </label>
            </div>



            <p-divider></p-divider>
            <br><br>
        </div>

        <div class="w-full md:w-2">
            <p-divider layout="vertical" styleClass="hidden md:flex"><b>
                    <FONT size="7" color="#6cbe45">↓</FONT>
                </b></p-divider>
        </div>
        <app-resarcimiento [errorFacturacion]="formularioReclamo.value.errorFacturacion"
            [resarcimiento]="formularioReclamo.value.resarcimiento"
            [suspencionSuministro]="formularioReclamo.value.suspencionSuministro"
            [malaAtencionComercial]="formularioReclamo.value.malaAtencionComercial"
            [negativaConexion]="formularioReclamo.value.negativaConexion"
            [inconvenienteTension]="formularioReclamo.value.inconvenienteTension"
            (checkboxChange)="checkboxChanged($event)">
        </app-resarcimiento>
        <div class="custom-card">
            <p-divider></p-divider>
            <h1 class="myHeader">
                <FONT size="6">RECLAMO</FONT>
            </h1>
            <p-divider></p-divider>
            <div class="group">
                <label for="descripcion">Describa detalladamente su Reclamo:</label><br><br>
                <textarea class="myTextArea" id="descripcion" formControlName="descripcion" rows="3"></textarea>

            </div>

        </div>

        <div class="w-full md:w-2">
            <p-divider layout="vertical" styleClass="hidden md:flex"><b>
                    <FONT size="7" color="#6cbe45">↓</FONT>
                </b></p-divider>
        </div>





        <div class="custom-card">
            <p-divider></p-divider>
            <h1 class="myHeader">
                <FONT size="6">Subir Adjuntos</FONT>
            </h1>
            <p-divider></p-divider>

            <app-file-upload (filesSelected)="onFileSelected($event)" formControlName="files"></app-file-upload>

        </div>
        <br>
        <div class="g-recaptcha" style="margin-left: 80px;" data-sitekey="6LcPZRcpAAAAAM3W5OviT0_0jMFc4Y4ee9ihDaOu">

        </div>

        <br>

        <button class="button" type="submit" [disabled]="isButtonDisabled" label="Submit">Enviar</button>
        <br>
    </form>
    <br><br>
    <app-easter *ngIf="showPopup"></app-easter>
    <button class="miniButton" (click)="openPopup()"></button>
</div>
    <br><br><br>